<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inserta datos del Producto</title>
</head>
<body>
    <h1>Datos:</h1>
<form action="/input_product" method="POST">
    <label for ="Tipo">Tipo</label>         
    <input type="text" name="Tipo" id="Tipo" required><br>
    <label for ="Descripción">Descripción</label>
    <input type="text" name="Descripcion" id="Descripción" required><br>
    <label for ="Stock">Stock</label>
    <input type="number" name="stock" id="Stock" required><br>
    <label for ="Precio">Precio</label>
    <input type="number" name="Precio" id="Precio" required><br>
    <button type="submit">Guardar Producto</button>
    <!-- <a href="/hola"><button>Volver a inicio</button></a> -->

</form>
</body>
</html>